.mainContainer {
  background-image: url("../../../../assets/bg1.jpeg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30% 0px;
}
.passwordChange {
  width: 80%;
  padding: 10px;
  border-radius: 5px;

  margin-top: 15px;
}
