.mainContainer {
  background-image: url("../../../assets/w1.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: auto;
  overflow-x: auto;
}
.matchContainer {
  margin-top: 30px;
  height: 96vh;
  margin-bottom: 100px;
}
