.mainContainer {
  background-image: url("../../../assets/main_background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}
.tableContainer {
  width: 100vw;
  overflow-y: auto;
}
