.caption {
  width: 100px;
  padding: 10px;
  font-weight: 300;
}
.details {
  font-weight: bold;
}
.mainContainer {
  background-image: url("../../../assets/main_background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.container {
  padding-top: 24%;
}
@media screen and (min-width: 576px) {
  .mainContainer {
    display: flex;
    justify-content: center;
    padding-top: -100px;
  }
  .caption {
    height: 70px;
  }
}
