.caption {
  width: 80px;
  padding: 10px;
  font-weight: 300;
}
.details {
  font-weight: bold;
}
.mainContainer {
  background-image: url("../../../assets/main_background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.container {
  padding-top: 24%;
}
