.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(232, 227, 227);
}
.btnContainer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.btnContainer input{
    background-color: white;
    padding:10px;
    width:300px;
    border-radius: 5px;
    margin-bottom: 25px !important;
}
.btnContainer input:focus{
    outline: none !important;
}
.btnContainer button{
    width:200px;
    margin:auto;
    background-color: rgb(77, 77, 173);
    padding:10px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    margin-top: 50px;
}
.otp input{
    width:200px;
}
.otp button{
    width:100px;
}
