.app {
  width: 100%;
  background-color: white;
  height: 100vh;
}
.MuiFormControl-root {
  border: 1px solid #ffffff;
}
.MuiFormLabel-root {
  color: #fff;
}
.MuiInputBase-input {
  color: #fff;
}
.MuiPaper-root {
  width: 85%;
  margin: 0px 15px;
}
.MuiPopover-root {
  width: 100vw;
}
