.app {
  width: 100%;
  background-color: white;
  height: 100vh;
}
.MuiFormControl-root {
  border: 1px solid #ffffff;
}
.MuiFormLabel-root {
  color: #fff;
}
.MuiInputBase-input {
  color: #fff;
}
.MuiPaper-root {
  position: absolute !important;
  top: 50;
  width: 85%;
  margin: -250px 15px 0px;
}
.MuiPopover-root {
  width: 100vw;
}
.active {
  background-color: darkgreen !important;
}
