/* body{
 width:100%;
    background-image: url('../../assets/main_background.png');
    background-size: cover;
    background-position: center center;
    height:100vh;
} */
/* .app{
    width:100%;
    background-color: white;
    height:100vh;
   
} */